:root {
    --main-color: rgb(152, 43, 155);
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
}

html, body { 
    height: 100%;
 }
body {
    background-color: var(--bg);
    font-size: 1rem;
    min-height: 100vh;


}




section {
    padding: 3rem 2rem;
    margin: auto;
    max-width: -1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--bg);
    z-index: 1000;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.about a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.about a:hover {
    color: rgb(91, 3, 84);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.home-container {
    background: url(desingfi.png);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    position: relative;
}

.home-container::selection {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.text {
    margin: 0;
    max-width: 50rem;
    transform: translate(0%, 30%);
}

.text h3 {
    /* margin: 3 auto; */
    color: rgb(255, 255, 255);
    font-size: 5rem;
    transform: translate(0%, 30%);
}

.text p {
    margin: 0;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
    padding: 2rem;
    transform: translate(0%, 10%);
}

.textA h1 {
    margin: 0;
    color: rgb(152, 43, 155);
    font-size: 3rem;

}

.textA p {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 80;
    line-height: 1.8;
    padding: 1rem;


}


.textA,
.textB {
    margin-left: 1rem;
}



.texto {
    flex: 1;
    color: #fff;
    font-size: 2rem;
    font-weight: 50;
    line-height: 1.8;
    padding: 1rem;
    max-width: 110rem;
}


main {
    flex: 1;
}


footer {
    background-color: #474747;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-top: var(--border);

}

footer p {
    font-size: 0.8rem;
}


    

.btn.transparent {
    margin: 0;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    width: 100px;
    height: 41px;
    font-weight: 600;
    font-size: 0.1, 9rem;
    border-radius: 20px;
    right: 20px;
    position: fixed;
    transform: translateY(-18%);
}

.btn.transparent:hover {
    background-color: rgb(79, 27, 80);

}

.btnlogin {
    margin: 0;
    color: #fff;
    background: none;
    width: 140px;
    height: 41px;
    font-weight: 600;
    font-size: 0.1, 9rem;
    right: 100px;
    position: fixed;
    transform: translateY(-18%);
}

.btnlogin:hover {
    color: rgb(79, 27, 80);
}


.text-fin {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.apf-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
}

.apf {
    background-color: transparent;
    padding: 30px;
    margin-top: 100px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
    margin-right: auto;
    position: absolute;
    top: 223%;
    left: 65%;
}

.resultado {
    font-size: 15px;
}


.apfbutton {
    padding: 10px;
    margin-top: 10px;
    font-size: 10px;
    border-radius: 6px;
}

.apfbutton {
    background-color:transparent;
    border: none;
    border-radius: 20px;
    border: 1px solid #fff;
    cursor: pointer;

}

.apfbutton:hover {
    background-color: rgb(91, 3, 84);
}

.selecion{
    font-size: 18px;
}
select,
apfbutton {
    padding: 7px;
    top: -10px;
    font-size: 12px;
}

apfbutton {
    background-color: rgb(152, 43, 155);
    ;
    color: rgb(203, 200, 200);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.opcao {
    width: auto;
    font-size: medium;
    background-color:transparent;
    border-color:  rgb(152, 43, 155);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .opcao:hover {
    background-color:#4C1D5C;
  }

  .textoC {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  .seta {
    font-size: 20px;
    color: #4C1D5C;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  .caixaR {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


