:root{
    --main-color: rgb(152, 43, 155);
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3 );
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
}


body{
    background-color: var(--bg);
    font-size: 1rem;    
    padding-top: 80px;
    
}
.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}


section{
    padding: 3rem 2rem;
    margin: auto;
    max-width: -1200px;
}

.header {
    position: fixed;      
    top: 0;               
    left: 0;               
    right: 0;             
    width: 100%;          
    background-color: var(--bg); 
    z-index: 1000;         
    border-bottom: var(--border);
    display: flex;         
    align-items: center;   
    justify-content: center;  
    padding: 1rem 2rem;  
    box-sizing: border-box;  
}
    
.header section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.about a {
    margin:0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.about a:hover{
    color: #4C1D5C;
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    
}
.btnlogin {
    margin: 0;
    color: #fff;
    background: none;
    width: 140px;
    height: 41px;
    font-weight: 600;
    font-size: 0.1, 9rem;
    right: 100px;
    position: fixed;
    transform: translateY(-14%);
}

.btnlogin:hover {
    color: #4C1D5C;
}
.btn.transparent {
    margin: 0;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    width: 100px;
    height: 41px;
    font-weight: 600;
    font-size: 0.1,9rem;
    border-radius: 20px;
    right: 20px;
    position: fixed;
    transform: translateY(-18%);
 }

  .btn.transparent:hover{
    background-color:  #4C1D5C;

  }

 .logo{
    width: 50px;
    color: #fff;
}

.user-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 4rem;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
   
}

.user-info h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    color: #fff;
}

.profile-card .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 0.2rem solid var(--main-color);
}

.profile-card .user-details {
    text-align: left;
}

.profile-card .user-details h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: var(--main-color);
}

.profile-card .user-details p {
    font-size: 1.3rem;
    margin: 5px 0;
}

.btn {
    background-color: var(--main-color);
    color: #010103;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:  #4C1D5C;
    color: #fff;
}

/* footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-top: var(--border);
}

footer p {
    font-size: 0.8rem;
} */
.btnE {
    background-color: var(--main-color);
    margin: 0px auto 0;;
    color: #010103;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
  
}

.btnE:hover {
    background-color: #4C1D5C;
    color: #fff;
}