:root{
    --main-color: rgb(152, 43, 155);
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3 );
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
}


body{
    background-color: var(--bg);
    font-size: 1rem;    
    padding-top: 80px;
    
}
.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}


section{
    padding: 3rem 2rem;
    margin: auto;
    max-width: -1200px;
}

.header {
    position: fixed;      
    top: 0;               
    left: 0;               
    right: 0;             
    width: 100%;          
    background-color: var(--bg); 
    z-index: 1000;         
    border-bottom: var(--border);
    display: flex;         
    align-items: center;   
    justify-content: center;  
    padding: 1rem 2rem;  
    box-sizing: border-box;  
}
    
.header section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.about a {
    margin:0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.about a:hover{
    color: rgb(91, 3, 84);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    
}

.home-container{
    background: url(fin.jpeg);
    height: auto;
    width: auto;
    background-position: center;
    background-size: cover;
    
    width: 100%;
}

.home-container::selection{
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.btn.transparent {
    margin: 0;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    width: 100px;
    height: 41px;
    font-weight: 600;
    font-size: 0.1,9rem;
    border-radius: 20px;
    right: 20px;
    position: fixed;
    transform: translateY(-18%);
 }

  .btn.transparent:hover{
    background-color: rgb(79, 27, 80);
  }
  .btnlogin {
    margin: 0;
    color: #fff;
    background: none;
    width: 140px;
    height: 41px;
    font-weight: 600;
    font-size: 0.1, 9rem;
    right: 100px;
    position: fixed;
    transform: translateY(-18%);
}

.btnlogin:hover {
    color: rgb(79, 27, 80);
}

.controle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    font-size: large;
    flex-wrap: wrap;   
}

.btnrenda {
    margin: auto;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    width: 100px;
    height: 41px;
    border-radius: 20px;
    /* left: 100%; */
    /* align-items: center; */
    /* position:fixed; */
    top: 80%;
    /* right: 50%; */
 }

  .btnrenda:hover{
    background-color:  rgb(91, 3, 84);;

  }
 
.textR{
    color:rgb(152, 43, 155);
} 


.rendas {
    display: block;
    /* margin-bottom: 8px; */
    font-size: 2.6rem;
    color: #ffffff;
    /* font-weight: 500; */
    /* text-align:center; */
  }
  
.categorias {
    /* display: block; */
    margin-bottom: 8px;
    font-size: 2.6rem;
    color: #ffffff;
    font-weight: 500;
    text-align:center;
  }
  
  
  input {

    /* width: 100%;  */
    display: flex;
    /* left: 5%; */
    flex-direction: column;
    /* margin: 0 auto; */
    width: 300px ; 
    padding: 10px;
    border-radius: 20px; 
    border: 1px solid #ddd; 
    font-size: 1.5rem; 
    color: #333; 
    background-color: #ffffff; 
    outline: none; 
  }
  
  
  input:focus {
    border-color:rgb(152, 43, 155); 
    box-shadow: 0 0 8px rgba(152, 43, 155, 0.3); 
  }
  
  
  input::placeholder {
    font-weight: 300; 
    color: #aaa; 

  }

  .caixa-rendas {
    background-color: rgba(255, 255, 255, 0.05); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    max-width: auto;
    /* width: 50%; */
    margin: 20px ;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* backdrop-filter: blur(8px);  */
}


/* .textoC {
    display: flex;
    align-items: center;
  } */


  /* .seta {
    font-size: 20px;
    color: rgb(152, 43, 155);
  } */

  /* a {
    text-decoration: none;
    color: inherit;
  } */
  /* .caixaR {
   
    margin-top: -100px;
    
    margin-left: 60%;
  } */
  /* .opcao {
    top: 50%;
    width: 50%;
    font-size: 20px;
    background-color:transparent;
    border-color:  rgb(152, 43, 155);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.2);
  } */
/* 
  .opcao:hover {
    background-color:  rgb(91, 3, 84);
  } */

  footer {
    background-color: #474747;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-top: var(--border);

}

footer p {
    font-size: 0.8rem;
}

